extends base.pug

block scripts 
    script(src="/static/index.js") 

block style 
    style 
        include ../static/style.css 

block content  
    main(class="home")
        div(class="container")
            h1 Dance Palace
            div(class="sub-container")
                div(class="card")
                    div(class="face face1")
                        div(class="content")
                            img(src="../static/img1.png", alt="Bharatnatyam")
                            h3 BharatNatyam
                    div(class="face face2")
                        div(class="content")
                            p Bharatanatyam, a pre-eminent Indian classical dance form presumably the oldest classical dance heritage of India is regarded as mother of many other Indian classical dance forms
                            a(href="https://en.wikipedia.org/wiki/Bharatanatyam" target="__blank") Read More 
                div(class="card")
                    div(class="face face1")
                        div(class="content")
                            img(src="../static/img2.png", alt="Hip Hop")
                            h3 Hip Hop
                    div(class="face face2")
                        div(class="content")
                            p Hip hop music or hip-hop music, also known as rap music and formerly known as disco rap, is a genre of popular music that originated in New York City in the 1970s
                            a(href="https://en.wikipedia.org/wiki/Hip_hop_dance" target="__blank") Read More
                div(class="card")
                    div(class="face face1")
                        div(class="content")
                            img(src="../static/img3.png", alt="Bharatnatyam")
                            h3 Ballet
                    div(class="face face2")
                        div(class="content")
                            p Ballet is a type of performance dance that originated during the Italian Renaissance in the fifteenth century and later developed into a concert dance form in France and Russia
                            a(href="https://en.wikipedia.org/wiki/Ballet" target="__blank") Read More
                div(class="card")
                    div(class="face face1")
                        div(class="content")
                            img(src="../static/img4.png", alt="Bharatnatyam")
                            h3 Kathakali
                    div(class="face face2")
                        div(class="content")
                            p Kathakali is an evolved dance form popular in the South Indian state of Kerala
                            a(href="https://en.wikipedia.org/wiki/Kathakali" target="__blank") Read More    
        div(class="teachers")
            h1 Our Teachers
            div(class="row")
                div(class="teacher")
                    div(class="teacher-image")
                        img(src="../static/teach1.jpg", alt="Savitha Sastry")
                        div(class="about-teacher")
                            h3 Savitha Sastry 
                            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem et amet, inventore enim ab hic voluptates totam velit illo pariatur modi optio assumenda ipsum tempore repellat, dolorum explicabo nisi dolorem.
                            div(class="contact-teacher")
                                a(href="#" target="__blank")
                                    img(src="../static/instagram.png", alt="Instagram" width="20px", height="20px")
                                a(href="#" target="__blank")
                                    img(src="../static/mail.png", alt="Mail", width="20px", height="20px")
                div(class="teacher")
                    div(class="teacher-image")
                        img(src="../static/teach2.jpg", alt="Remo D'Souza")
                        div(class="about-teacher")
                            h3 Remo D'Souza 
                            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem et amet, inventore enim ab hic voluptates totam velit illo pariatur modi optio assumenda ipsum tempore repellat, dolorum explicabo nisi dolorem.
                            div(class="contact-teacher")
                                a(href="#" target="__blank")
                                    img(src="../static/instagram.png", alt="Instagram" width="20px", height="20px")
                                a(href="#" target="__blank")
                                    img(src="../static/mail.png", alt="Mail", width="20px", height="20px")
                div(class="teacher")
                    div(class="teacher-image")
                        img(src="../static/teach3.png", alt="Kamal Singh")
                        div(class="about-teacher")
                            h3 Kamal Singh 
                            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem et amet, inventore enim ab hic voluptates totam velit illo pariatur modi optio assumenda ipsum tempore repellat, dolorum explicabo nisi dolorem.
                            div(class="contact-teacher")
                                a(href="#" target="__blank")
                                    img(src="../static/instagram.png", alt="Instagram" width="20px", height="20px")
                                a(href="#" target="__blank")
                                    img(src="../static/mail.png", alt="Mail", width="20px", height="20px")
                div(class="teacher")
                    div(class="teacher-image")
                        img(src="../static/teach4.webp", alt="Kalamandalam Gopi")
                        div(class="about-teacher")
                            h3 Kalamandalam Gopi 
                            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem et amet, inventore enim ab hic voluptates totam velit illo pariatur modi optio assumenda ipsum tempore repellat, dolorum explicabo nisi dolorem.
                            div(class="contact-teacher")
                                a(href="#" target="__blank")
                                    img(src="../static/instagram.png", alt="Instagram" width="20px", height="20px")
                                a(href="#" target="__blank")
                                    img(src="../static/mail.png", alt="Mail", width="20px", height="20px")
        div(class="sponsors")
            h1 Our Sponosrs 
            div(class="sponsors-image")
                img(src="../static/logo1.png", alt="Red Bull" width="150px" height="150px")
                img(src="../static/logo2.png", alt="Red FM 93.5" width="150px" height="150px")
                img(src="../static/logo3.png", alt="Pepsico" width="150px" height="150px")
                img(src="../static/logo4.png", alt="LG" width="150px" height="150px")
                img(src="../static/logo5.png", alt="Hero" width="150px" height="150px")